body {
	background-color: #323232;
	font-family: arial;
	text-align: center;
	color: white;
}

a:link {
  color: #F2F2F2;
}

a:visited {
  color: #E2E2E2;
}

a:hover {
  color: white;
}

a:active {
  color: #FF862F;
}

#OuterContainer {
  display: flex;
}

#InnerContainer {
  flex-grow: 1;
}

#CvButton {
  padding: 20px;
  width: 50px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.PortfolioItem {
  overflow: auto;
  background-color: #454545;
  text-align: left;
  border: 2px solid #202020;
  margin: 10px auto;
  padding: 20px;
  width: 800px;
}

.ItemVideo {
  float: left;
  margin: 0 10px 5px 0;
}